<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Prikaz pitanja</title>

    <link href='{{ STATIC_URL }}components/bootstrap.css/css/bootstrap.css' rel='stylesheet' />

    <link href='{{ STATIC_URL }}style.css' rel='stylesheet' />

    <script type='text/javascript' src='{{ STATIC_URL }}components/jquery/jquery.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}components/bootstrap.css/js/bootstrap.js'></script>
</head>
<body>
  <div class='row'>
    <div class='container'>
      {% for question in questions %}
      <h1>Pitanje {{ question.number }}</h1>

      <form name='upitnik'>
        <p class='lead'>{{ question.text|linebreaksbr }}</p>
        <div class='well'>
          {% for answer in question.answer_set.all %}
          {% ifequal question.answer_type.name 'biranje' %}
            <label data-solution='{{ answer.value }}' class='checkbox'>
              <input name='answer' data-solution='{{ answer.value }}' type='checkbox'>{{ answer.text }}</input>
            </label>
          {% endifequal %}
          {% ifequal question.answer_type.name 'povezivanje' %}
            <input name='answer' class='input span8' data-solution='{{ answer.value }}' type='text'></input>
            <label data-solution='{{ answer.value }}' class='span2'>{{ answer.text }}</label>
          {% endifequal %}
          {% ifequal question.answer_type.name 'dopunjavanje' %}
            {{ answer.format_dopunjavanje|safe }}
          {% endifequal %}
          {% endfor %}
        </div>

        <img src='{{ MEDIA_URL }}{{ question.image }}'></img>

        <input name='check' class='btn btn-primary' type='button' value='Proveri i nastavi'></input>
      </form>
    {% endfor %}
    </div>
  </div>

  <script type='text/javascript'>
    $(function()
    {
      var answer_number = {{ answers.count }};

      $('[name=check]').on('click', function ()
      {
        $('[name=answer]').each(function (index)
        {
          // sorting resenja u data-solution
          var solution = $(this).attr('data-solution').split(',').sort().join(',');

          // scenario sa checkboxima mora da izvlaci informacije iz prop('checked')
          // da bi vratio pravu vrednost
          if($(this).attr('type') == 'checkbox')
            var entry = $(this).prop('checked').toString();
          else
            var entry = $(this).val().split(',').sort().join(',');

          console.log(solution, entry);

          var label = $($(this).parents('div')[0]).children('label');

          if(solution == entry)
          {
            label.addClass('correct');
            // $('label[data-solution="' + $(this).attr('data-solution') + '"]').addClass('correct');
          }
          else
          {
            label.addClass('wrong');
          }
        });
      });
    });
  </script>
</body>
</html>