<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Prikaz pitanja</title>

    <link href='{{ STATIC_URL }}components/bootstrap.css/css/bootstrap.css' rel='stylesheet' />

    <link href='{{ STATIC_URL }}style.css' rel='stylesheet' />

    <script type='text/javascript' src='{{ STATIC_URL }}components/jquery/jquery.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}components/bootstrap.css/js/bootstrap.js'></script>
</head>
<body>
  <div class='row'>
    <div class='container'>
      <h1>Pitanje {{ question.number }}</h1>

      <form name='upitnik'>
        <p class='lead'>{{ question.text|linebreaksbr }}</p>
        <div class='well'>
          {% for answer in answers %}
          {% ifequal question.answer_type.name 'biranje' %}
            <label data-solution='{{ answer.value }}' class='checkbox'>
              <input name='answer' data-solution='{{ answer.value }}' type='checkbox'>{{ answer.text }}</input>
            </label>
          {% endifequal %}
          {% ifequal question.answer_type.name 'povezivanje' %}
            <input name='answer' class='input span8' data-solution='{{ answer.value }}' type='text'></input>
            <label data-solution='{{ answer.value }}' class='span2'>{{ answer.text }}</label>
          {% endifequal %}
          {% endfor %}
        </div>

        <img src='{{ MEDIA_URL }}{{ question.image }}'></img>

        <input name='check' class='btn btn-primary' type='button' value='Proveri i nastavi'></input>
      </form>

    </div>
  </div>

  <script type='text/javascript'>
    $(function()
    {
      var answer_number = {{ answers.count }};

      $('[name=check]').on('click', function ()
      {
        $('[name=answer]').each(function (index)
        {
          {% ifequal question.answer_type.name 'povezivanje' %}
            if($(this).attr('data-solution').split(',').sort().join(',') == $(this).val().split(',').sort().join(','))
              $('label[data-solution="' + $(this).attr('data-solution') + '"]').addClass('correct');
            else
              $('label[data-solution="' + $(this).attr('data-solution') + '"]').addClass('wrong');
          {% endifequal %}
        });
      });
    });
  </script>
</body>
</html>