<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Unos pitanja</title>

    <link href='{{ STATIC_URL }}components/bootstrap.css/css/bootstrap.css' rel='stylesheet' />

    <script type='text/javascript' src='{{ STATIC_URL }}components/jquery/jquery.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}components/bootstrap.css/js/bootstrap.js'></script>
</head>
<body>
  <div class='row'>
    <div class='container'>
      <h1>Unos pitanja</h1>

      <form method='post' action='unos' enctype="multipart/form-data">
        <label>Broj pitanja:</label><input name='number' type='number' value='{{ question_number }}'>{{ number }}</input>
        <label>Tip pitanja:</label>
        <select name='type'>
          {% for answer_type in answer_types %}
          <option value='{{ answer_type.name }}'>{{ answer_type.name }}</option>
          {% endfor %}
        </select>
        <label>Pitanje:</label>
        <textarea name='text'></textarea>

        <label>Odgovori:</label>
        <p>
          <input name='answer1' class='input span10' type='text'></input>
          <input name='solution1' class='last input span2' type='text'></input>
          <br />
        </p>
        <!-- For each -->
        <input type='file' name='image'></input>
        <input type='submit' value='Salji dalje' class='btn btn-primary'></input>
      </form>

    </div>
  </div>

  <script type='text/javascript'>
    $(function()
      {
        var answer_number = 1;

        $(document).on('keydown', '.last', function(e)
        {
          var keycode = e.keyCode || e.which;

          if(keycode == 9)
          {
            e.preventDefault();
            console.log('tab pressed');
            createNewAnswer();
          }
        });

        function createNewAnswer()
        {
          var last_answer_length = $('[name=answer' + answer_number + ']').val().length;
          var last_solution_length = $('[name=solution' + answer_number + ']').val().length;

          if(last_solution_length > 0 || last_solution_length > 0)
          {
            answer_number++;
            var answer_template = "<input name='answer" + answer_number + "' class='input span10' type='text'></input> <input name='solution" + answer_number + "' class='last input span2' type='text'></input>";

            var last = $('.last').removeClass('last');
            $(answer_template).insertAfter(last);
            $('[name=answer' + answer_number + ']').focus();
          }
        }
      });
  </script>
</body>
</html>